<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!cloud">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <root level="INFO">
            <appender-ref ref="STDOUT-JSON"/>
        </root>
        <logger name="com.evangsol.report" level="DEBUG"/>
        <logger name="org.springframework.web" level="INFO"/>
    </springProfile>
</configuration>